.boards-page-wrapper {
	min-height: 100vh;
	padding-bottom: 75px;
	.search-boards-input{
		width: 500px;
		display: block;
		margin: auto;
		background:#FFFFFF;
		margin-bottom: 25px;
		height: 40px;
		font-size: 20px;
		text-align: center;
		border-radius:20px;
	}
	.board {
		border: 1px solid silver;
		min-height: 100px;
		width: 500px;
		margin: auto;
		cursor: pointer;
		margin-bottom: 10px;
		background: #ffffff;
		padding: 10px;
		border-radius: 20px;
		transition: 0.5s;
		a {
			color: #65b1fc;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.left-part {
				font-size: 25px;
				color: #65b1fc;
				max-width: 330px;
				overflow-wrap: break-word;
			}
			.right-part {
				color: grey;
				height: 70px;
				display: flex;
				align-items: flex-end;
				flex-direction: column;
				justify-content: space-between;
				font-size: 12px;
				.delete-icon {
					display: none;
				}
                .delete-icon:hover{
					display: none;
                    color:red;
				}
			}
		}
        a:hover{
            .right-part{
                .delete-icon {
                    display: block;
                }
            }
        }
	}
	.board:hover {
		transition: 0.5s;
		min-height: 100px;
		width: 530px;
	}
	.empty-board{
		width: 300px;
		display: block;
		margin: auto;
		margin-top: 100px;
	}
	.empty-board-title{
		display: block;
		margin: auto;
		text-align: center;
		font-size: 18px;
		margin-top: 10px;
	}
}
