.details-task-wrapper{
    width:75vw;
    margin:auto;
    padding:10px 0px 50px 0px;
    color:teal;
    min-height: 100vh;
    .task-status-type{
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0px 10px 0px;
        align-items:center;
        div{
            width: 100px;
            height: 40px;
            font-size: 15px;
            border:1px solid silver;
            text-align: center;
            cursor: pointer;
        }
        .active{
            background:teal;
            color:#FFF;
            font-size: 17px;
        }
        .delete-task-icon{
            margin-left: 50px;
            cursor: pointer;
        }
        .delete-task-icon:hover{
            color:red;
            display: block;
            margin-left: 50px;
        }
    }

    button[editext='cancel-button'] {
        &:hover {
          background: crimson;
          color: #fff;
        }
      }
      button[editext='edit-button'] {
        background: inherit;
        color: #fff;
        border:none;
        color:black;
      }
      button[editext='edit-button'] {
        &:hover {
          background: inherit;
          color: crimson;
        }
      }
      div[editext='view-container'] {
        background: #FFFFFF;
        border-radius: 5px;
        min-width: 200px;
        margin: auto;
        color: teal;
        padding: 5px 10px;
      }
}

@media screen and (max-width:882px) {
    .details-task-wrapper{
        .task-info{
            display: none;
        }
    }
}

