.details-task-wrapper{
    width:75vw;
    margin:auto;
    padding:10px 0px 50px 0px;
    color:teal;
    min-height: 100vh;
    .task-status-type{
        display: flex;
        margin: 10px 0px 10px 0px;
        align-items:center;
        div{
            width: 130px;
            height: 40px;
            font-size: 25px;
            border:1px solid silver;
            text-align: center;
            cursor: pointer;
        }
        .active{
            background:teal;
            color:#FFF;
            font-size: 25px;
        }
        .delete-task-icon{
            margin-left: 50px;
            cursor: pointer;
        }
        .delete-task-icon:hover{
            color:red;
            display: block;
            margin-left: 50px;
        }
    }
    button[editext='cancel-button'] {
        &:hover {
          background: crimson;
          color: #fff;
        }
      }
      button[editext='edit-button'] {
        background: inherit;
        color: #fff;
        border:none;
        color:black;
      }
      button[editext='edit-button'] {
        &:hover {
          background: inherit;
          color: crimson;
        }
      }
}

