
    .logo-wrapper{
        display: flex;
        align-items: center;
   
            .logo-icon{
                width: 75px;
            }
            .logo-text{
                font-family: 'Square Peg', cursive;
                font-size: 50px;
                color:#65B1FC;
            }
        
    }
