.logo-wrapper {
	display: flex;
	align-items: center;

	.logo-icon {
		width: 75px;
	}
	.logo-text {
		font-family: 'Square Peg', cursive;
		font-size: 50px;
		color: #65b1fc;
	}
}

@media screen and (max-width:992px) {
	.logo-wrapper {
		.logo-icon {
			width: 50px;
			margin-top: 20px;
		}
		.logo-text {
			font-size: 30px;
			margin-top: 20px;
		}
	}	
}