.header-wrapper {
	width: 100vw;
	min-height: 90px;
	background-image: linear-gradient(to right top,#FDFDFF,#D581CF);
	display: flex;
	justify-content: space-around;
	position: sticky;   
    top: 0; 
	margin-bottom: 10px;
	.avatar{
		display: flex;
		align-items:center;
		font-family: 'Square Peg', cursive;
		.user-nickname{
			font-size: 20px;
			font-weight: 700;
			text-transform: uppercase;
			font-family: 'Square Peg', cursive;
		}
		.avatar-icon{
			background:#FFFFFF;
			width: 75px;
			border-radius: 100%;
			margin-left: 10px;
		}
	}
}

@media screen and (max-width:992px) {
	.header-wrapper {
		.avatar{
			.user-nickname{
				font-size: 15px;
			}
			.wellcome-word{
				display: none;
			}
			.avatar-icon{
				width: 50px;
			}
		}
	}
}